<!-- table_template.html -->
<table class="custom-table">
    <tr>
        <th>knowledgeArea</th>
        <th>Ex: Language</th>
        <th>CWE Description</th>
        <th>CWE num</th>
        <th>URL cwe</th>
        <th>cve Description</th>
        <th>cve num</th>
        <th>URL cve</th>
    </tr>
    <tr>
        <td>{knowledgeArea}</td>
        <td>{knowledgeTopic}</td>
        <td>{CWE}</td>
        <td>{CWEID}</td>
        <td>{cwe_link}</td>
        <td style="min-width: 150px;">{cve}</td> 
        <td style="min-width: 150px;">{cveID}</td>
        <td>{cve_links}</td>
    </tr>
</table>
